root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space

[Makefile]
indent_style = tab
indent_size = 8

[*.{c,js,ts,py,rs}]
indent_size = 4

[*.{dart,md,yaml,json}]
indent_size = 2
